<PhoenixDiagrams.Components.Layout.layout
  entries={@entries}
  groups={@groups}
  selected={@selected}
  diagrams_path={@diagrams_path}
  app_version={@app_version}
  search={@search}
  url_version={@url_version}
  version_notice_dismissed={@version_notice_dismissed}
/>
